/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Montserrat:400,600");
/*---------------------------------------------------- */
body {
  line-height: 25px;
  font-size: 16px;
  font-family: "Crimson Text", serif;
  font-weight: 600;
  color: #777777; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #222222; }

.list {
  list-style: none;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

.row.m0 {
  margin: 0px; }

button:focus {
  outline: none;
  box-shadow: none; }

.mb-15 {
  margin-bottom: 15px; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-25 {
  margin-top: 25px; }

.white_bg {
  background: #fff !important; }

.mt-100 {
  margin-top: 100px; }
  @media (max-width: 991px) {
    .mt-100 {
      margin-top: 0px; } }

.mt--100 {
  margin-top: -100px; }
  @media (max-width: 991px) {
    .mt--100 {
      margin-top: 0px; } }

/*---------------------------------------------------- */


/* Start Gradient Area css
============================================================================================ */
.gradient-bg, #search_input_box, .header-top .header-top-right a:hover, .single_feature:nth-child(3), .single_department:hover, .single_course .course_content .course_meta .price, .testimonial_area .owl-thumb-item.active .overlay-grad, .testimonial_area .owl-thumb-item .overlay-grad:hover, .testimonial_area .owl-thumb-item .overlay-grad.active, .registration_area, .categories_post:hover .categories_details, .blog_right_sidebar .widget_title, .blog_right_sidebar .search_widget .input-group .form-control, .blog_right_sidebar .newsletter_widget .bbtns, .blog_right_sidebar .tag_cloud_widget ul li a:hover, .blog-pagination .page-item.active .page-link, .blog-pagination .page-link:hover, .comments-area .btn-reply:hover, .blog_btn:hover, .footer-area .footer-bottom .footer-social a:hover {
  background: -webkit-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
  background: -moz-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
  background: -ms-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
  background: -o-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
  background: linear-gradient(90deg, #00aee0 0%, #00fedc 100%); }

.gradient-bg2, .single_feature:nth-child(1), .single_course .course_content .course_meta .price.df_color1 {
  background: -webkit-linear-gradient(90deg, #e94086 0%, #e5925a 100%);
  background: -moz-linear-gradient(90deg, #e94086 0%, #e5925a 100%);
  background: -ms-linear-gradient(90deg, #e94086 0%, #e5925a 100%);
  background: -o-linear-gradient(90deg, #e94086 0%, #e5925a 100%);
  background: linear-gradient(90deg, #e94086 0%, #e5925a 100%); }

.gradient-bg3, .single_feature:nth-child(2), .single_course .course_content .course_meta .price.df_color2 {
  background: -webkit-linear-gradient(90deg, #7349cc 0%, #e163e4 100%);
  background: -moz-linear-gradient(90deg, #7349cc 0%, #e163e4 100%);
  background: -ms-linear-gradient(90deg, #7349cc 0%, #e163e4 100%);
  background: -o-linear-gradient(90deg, #7349cc 0%, #e163e4 100%);
  background: linear-gradient(90deg, #7349cc 0%, #e163e4 100%); }

.gradient-color, .blog_details h2:hover {
  background: -webkit-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
  background: -moz-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
  background: -ms-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
  background: -o-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
  background: linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent; }

/* End Gradient Area css
============================================================================================ */
/* Start Buttons Area css
============================================================================================ */
.primary-btn {
  display: inline-block;
  background: -webkit-linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
  background: -moz-linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
  background: -ms-linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
  background: -o-linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
  background: linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
  background-size: 200% auto;
  padding: 0px 38px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 50px;
  border-radius: 0px;
  outline: none !important;
  box-shadow: 0px 20px 50px rgba(0, 175, 224, 0.3);
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .primary-btn:hover {
    background-position: right center;
    color: #fff;
    box-shadow: none; }

/* End Buttons Area css
============================================================================================ */
/* Start Overlay css
============================================================================================ */
.overlay {
  position: relative; }

.overlay:after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  z-index: -1; }

/* End Overlay css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.header_area {
  position: relative;
  width: 100%;
  z-index: 99;
  transition: background 0.4s, all 0.3s linear; }
  .header_area .navbar {
    background: transparent;
    padding: 0px;
    border: 0px;
    border-radius: 0px; }
    .header_area .navbar .nav .nav-item {
      margin-right: 45px; }
      .header_area .navbar .nav .nav-item .nav-link {
        font: 600 12px/80px "Montserrat", sans-serif;
        text-transform: uppercase;
        color: #222222;
        padding: 0px;
        display: inline-block; }
        .header_area .navbar .nav .nav-item .nav-link:after {
          display: none; }
      .header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
        color: #00aee0; }
      .header_area .navbar .nav .nav-item.submenu {
        position: relative; }
        .header_area .navbar .nav .nav-item.submenu ul {
          border: none;
          padding: 0px;
          border-radius: 0px;
          box-shadow: none;
          margin: 0px;
          background: #fff; }
          @media (min-width: 992px) {
            .header_area .navbar .nav .nav-item.submenu ul {
              position: absolute;
              top: 120%;
              left: 0px;
              min-width: 200px;
              text-align: left;
              opacity: 0;
              transition: all 300ms ease-in;
              visibility: hidden;
              display: block;
              border: none;
              padding: 0px;
              border-radius: 0px; } }
          .header_area .navbar .nav .nav-item.submenu ul:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #eeeeee transparent transparent transparent;
            position: absolute;
            right: 24px;
            top: 45px;
            z-index: 3;
            opacity: 0;
            transition: all 400ms linear; }
          .header_area .navbar .nav .nav-item.submenu ul .nav-item {
            display: block;
            float: none;
            margin-right: 0px;
            border-bottom: 1px solid #ededed;
            margin-left: 0px;
            transition: all 0.4s linear; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
              line-height: 45px;
              color: #222222;
              padding: 0px 30px;
              transition: all 150ms linear;
              display: block;
              margin-right: 0px; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
              border-bottom: none; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
              background: #00aee0;
              color: #fff; }
        @media (min-width: 992px) {
          .header_area .navbar .nav .nav-item.submenu:hover ul {
            visibility: visible;
            opacity: 1;
            top: 100%; } }
        .header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
          margin-top: 0px; }
      .header_area .navbar .nav .nav-item:last-child {
        margin-right: 0px; }
    .header_area .navbar .search {
      font-size: 12px;
      line-height: 60px;
      display: inline-block;
      color: #222222; }
      .header_area .navbar .search i {
        font-weight: 600; }
  .header_area.navbar_fixed .main_menu {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: #ffffff;
    -webkit-transform: translateY(70px);
    -moz-transform: translateY(70px);
    -ms-transform: translateY(70px);
    -o-transform: translateY(70px);
    transform: translateY(70px);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); }
    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
      line-height: 70px; }



.header-top {
  background: #000000; }
  @media (max-width: 991px) {
    .header-top {
      display: none; } }
  .header-top a {
    color: #fff; }
  .header-top ul li {
    display: inline-block;
    margin-left: 15px; }
  .header-top .header-top-left a {
    margin-right: 60px;
    font-weight: 600; }
    .header-top .header-top-left a .text {
      margin-top: -2px; }
      .header-top .header-top-left a .text span {
        font-size: 14px;
        color: #ffffff; }
    .header-top .header-top-left a .lnr {
      color: #ffffff;
      margin-right: 8px; }
  @media (max-width: 767px) {
    .header-top .header-top-left .text {
      display: none; } }
  .header-top .header-top-right {
    text-align: right; }
    .header-top .header-top-right a {
      padding: 0 20px;
      height: 40px;
      display: inline-block;
      line-height: 40px;
      font-size: 14px;
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
      background: transparent;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Home Banner Area css
============================================================================================ */
.home_banner_area {
  z-index: 1;
  min-height: 780px;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/banner/home-banner.jpg) no-repeat scroll center; }
  .home_banner_area .banner_inner {
    position: relative;
    z-index: 10;
    width: 100%;
    display: flex; }
    .home_banner_area .banner_inner .container {
      vertical-align: middle;
      align-self: center; }
    .home_banner_area .banner_inner .banner_content {
      color: #fff; }
      .home_banner_area .banner_inner .banner_content h2 {
        margin-top: 0px;
        font-size: 48px;
        font-weight: 700;
        color: #fff;
        line-height: 54px; }
      .home_banner_area .banner_inner .banner_content p {
        max-width: 520px;
        font-size: 18px;
        font-weight: 600;
        margin: 25px 0px 45px; }
  .home_banner_area .search_course_wrap {
    margin-top: 40px;
    margin-bottom: 50px; }
    .home_banner_area .search_course_wrap .form_box {
      background: rgba(255, 255, 255, 0.15);
      max-width: 390px;
      padding: 10px 0px; }
      @media (max-width: 470px) {
        .home_banner_area .search_course_wrap .form_box {
          max-width: 210px;
          padding: 0; } }
    .home_banner_area .search_course_wrap .form-control {
      height: 50px;
      background: transparent;
      padding: 0 20px;
      border-radius: 0;
      display: inline-block;
      border: 0; }
    .home_banner_area .search_course_wrap input {
      font-size: 18px;
      color: #ffffff; }
      .home_banner_area .search_course_wrap input.placeholder {
        color: #ffffff;
        font-size: 14px; }
      .home_banner_area .search_course_wrap input:-moz-placeholder {
        color: #ffffff;
        font-size: 14px; }
      .home_banner_area .search_course_wrap input::-moz-placeholder {
        color: #ffffff;
        font-size: 14px; }
      .home_banner_area .search_course_wrap input::-webkit-input-placeholder {
        color: #ffffff;
        font-size: 14px; }
      .home_banner_area .search_course_wrap input:focus {
        box-shadow: none; }
    .home_banner_area .search_course_wrap .search_course_btn {
      background: -webkit-linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
      background: -moz-linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
      background: -ms-linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
      background: -o-linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
      background: linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
      background-size: 200% auto;
      border-radius: 0;
      color: #fff;
      position: relative;
      left: 60px;
      padding: 10px 35px;
      border: 0;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      @media (max-width: 480px) {
        .home_banner_area .search_course_wrap .search_course_btn {
          padding: 8px 16px;
          left: 0; } }
      .home_banner_area .search_course_wrap .search_course_btn:focus {
        box-shadow: none; }
      .home_banner_area .search_course_wrap .search_course_btn:hover {
        background-position: right center; }



.banner_area {
  position: relative;
  background: url(../img/banner/banner.jpg) no-repeat center center;
  z-index: 1;
  min-height: 392px;
  padding-top: 0 !important; }
  .banner_area .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 392px;
    z-index: 1; }
    .banner_area .banner_inner .overlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #000;
      opacity: 0.4; }
    .banner_area .banner_inner .banner_content {
      position: relative;
      z-index: 2;
      color: #fff; }
      .banner_area .banner_inner .banner_content h2 {
        color: #fff;
        font-size: 48px; }
      @media (max-width: 991px) {
        .banner_area .banner_inner .banner_content p {
          display: none; } }
      .banner_area .banner_inner .banner_content .page_link {
        display: inline-block;
        padding: 7px 20px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        margin-top: 20px; }
        .banner_area .banner_inner .banner_content .page_link a {
          font-size: 14px;
          color: #fff;
          font-family: "Crimson Text", serif;
          margin-right: 32px;
          position: relative;
          text-transform: uppercase; }
          .banner_area .banner_inner .banner_content .page_link a:before {
            content: "\f178";
            font: normal normal normal 14px/1 FontAwesome;
            position: absolute;
            right: -25px;
            top: 50%;
            transform: translateY(-50%); }
          .banner_area .banner_inner .banner_content .page_link a:last-child {
            margin-right: 0px; }
            .banner_area .banner_inner .banner_content .page_link a:last-child:before {
              display: none; }

/* End Home Banner Area css
============================================================================================ */

/* Start Features Area css
============================================================================================ */
.feature_area {
  margin-top: -37em; }
  @media (max-width: 991px) {
    .feature_area {
      margin-top: 60px; } }

.single_feature {
  position: relative;
  z-index: 1;
  color: #ffffff;
  padding: 40px; }
  @media (max-width: 480px) {
    .single_feature {
      padding: 40px 20px; } }
  .single_feature:nth-child(1) {
    margin-bottom: 30px; }
  .single_feature:nth-child(2) {
    margin-bottom: 30px; }
  .single_feature .icon {
    margin-right: 20px; }
    .single_feature .icon span {
      font-size: 30px; }
  .single_feature h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #ffffff; }
  .single_feature p {
    margin: 0; }

/* End Features Area css
============================================================================================ */
/* Start Department Area css
============================================================================================ */
.single_department {
  background: #f9f9f9;
  padding: 40px 30px;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .single_department img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .single_department h4 {
    margin-top: 20px;
    margin-bottom: 0;
    color: #000000;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .single_department:hover {
    box-shadow: 0px 20px 50px rgba(0, 175, 224, 0.3); }
    .single_department:hover img {
      -webkit-filter: brightness(0) invert(1);
      -moz-filter: brightness(0) invert(1);
      -ms-filter: brightness(0) invert(1);
      -o-filter: brightness(0) invert(1);
      filter: brightness(0) invert(1); }
    .single_department:hover h4 {
      color: #ffffff; }

.dpmt_right h1 {
  font-size: 42px;
  margin-bottom: 25px; }
  @media (max-width: 575px) {
    .dpmt_right h1 {
      font-size: 30px;
      margin-bottom: 15px; } }
.dpmt_right .primary-btn {
  margin-top: 30px; }

/* End Department Area css
============================================================================================ */


/* Strat Big Features Area css
============================================================================================ */
.fact_area {
  position: relative;
  color: #fff;
  background-image: url(../img/features-bg1.jpg);
  background-size: cover;
  z-index: 1;
  padding: 120px 0 90px; }
  @media (max-width: 991px) {
    .fact_area {
      padding: 60px 0 30px; } }
  .fact_area.overlay:after {
    background: #000;
    opacity: 0.6; }
  .fact_area .main_title h2 {
    color: #fff; }
  .fact_area .col-lg-4:nth-child(5) .single_fact {
    margin-top: -129px; }
    @media (max-width: 991px) {
      .fact_area .col-lg-4:nth-child(5) .single_fact {
        margin-top: 0; } }
  @media (max-width: 991px) {
    .fact_area .col-lg-4:nth-child(4) .single_fact {
      margin-top: -100px; } }
  @media (max-width: 767px) {
    .fact_area .col-lg-4:nth-child(4) .single_fact {
      margin-top: 0px; } }
  @media (max-width: 991px) {
    .fact_area .col-lg-4:nth-child(6) .single_fact {
      margin-top: -165px; } }
  @media (max-width: 767px) {
    .fact_area .col-lg-4:nth-child(6) .single_fact {
      margin-top: 0px; } }

.single_fact {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  margin-bottom: 30px;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .single_fact h4 {
    color: #fff;
    margin-bottom: 20px; }
  .single_fact p {
    margin: 0px; }
  .single_fact .f_icon {
    margin-bottom: 30px; }
  .single_fact:hover {
    border: 1px solid rgba(255, 255, 255, 0.3); }

/* End Big Features Area css
============================================================================================ */

/* Start Event Area css
============================================================================================ */
.events_area {
  padding: 120px 0 90px; }
  @media (max-width: 991px) {
    .events_area {
      padding: 60px 0 30px; } }

.single_event {
  margin-bottom: 30px; }
  .single_event .event_thumb {
    overflow: hidden; }
    .single_event .event_thumb img {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
  .single_event .event_details h4 {
    margin-bottom: 15px; }
    .single_event .event_details h4 a {
      color: #222222; }
  .single_event:hover img {
    transform: scale(1.1); }
  .single_event:hover h4 a {
    color: #00aee0; }

/* End Event Area css
============================================================================================ */

footer p{
  /* border: 3px solid white; */
  text-align: center;
  color: white;
  
}



  